<section ng-controller="GroupsController" class="container">

    <div class="col-md-12">

      <ol class="breadcrumb">
          <li><a href="#" ui-sref="groups.list()">Mis grupos</a></li>
          <li class="active">Crear grupo</li>
      </ol>

      <div class="alert alert-warning" ng-show="error">
       <button href="#" type="button" class="close" ng-click="error = ''"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
       <strong>Aviso:</strong> {{error}}
      </div>

      <div class="alert alert-warning" ng-show="group.status === 'draft' && warningopen">
       <button href="#" type="button" class="close" ng-click="warningopen = !warningopen"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
       <strong>Aviso: El grupo no se ha publicado todavía. Si desea publicarlo, cambie su estado desde el menú superior.</strong> 
      </div>
        
      <div class="alert alert-warning">
          <strong>Aviso:</strong> 
              Los creadores de grupos serán los primeros encargados de velar por el buen uso de Galatea. Quedan facultados por tanto para eliminar comentarios 
              improcedentes e incluso para vetar a aquellos usuarios que no guarden las normas de respeto adecuadas.
      </div>  

      <div class="well">

         <div class="bs-callout bs-callout-danger">
          <h4>Selecciona el tipo de grupo</h4>
          Puedes crear un grupo de una obra, de un autor o de una lista de obras.
         </div>
            
          <select class="form-control" style="width:30%;" ng-model="type" ng-change="selectTypeAction()" required>
            <option value="">---Por favor selecciona---</option>
            <option value="obra">Obra</option>
            <option value="autor">Autor</option>
            <option value="lista">Lista de obras</option>
            <option value="tema">Tema</option>
          </select>
      </div>
    
        <div class="well" ng-show="showWorkPanel">

         <div class="bs-callout bs-callout-danger">
          <h4>Selecciona una obra del catálogo</h4>
          Comienza a escribir el título de la obra sobre la que vas a crear el grupo. Te mostraremos los resultados de nuestro catálogo.
         </div>

         <div class="form-group input-panel">
           <div class="row dropdown-menu-work">  
            <input type="text" ng-model="title" 
                   placeholder="Escribe el título de la obra de la reseña" 
                   typeahead-on-select="setWorkValues($item)"
                   typeahead="item as item.title for item in getWork($viewValue)"
                   typeahead-loading="loadingWorks" 
                   typeahead-no-results="noResults"
                   typeahead-template-url="/modules/booklists/client/views/custom.select.template.html"
                   typeahead-min-length="4"
                   class="form-control" required>
            <i ng-show="loadingWorks" class="glyphicon glyphicon-refresh"></i>
            <div class="alert alert-warning" style="margin-top:5px;" ng-show="noResults">
                <strong>Aviso:</strong> No se han encontrado resultados. Introduce un título de nuestro catálogo por favor.
            </div>
            <p ng-show="form.groupForm.title.$invalid && !form.groupForm.title.$pristine" class="help-block">Introduzca una obra.</p>
          </div>
         </div>
        </div>

        <div class="well well-sm" ng-show="showWorkPanel && uuid && slug">
          <div class="row">
            <div class="col-xs-3 col-md-3 text-center">
               <img ng-if="uuid" ng-src="{{uuid | mountCover }}" alt="Obra seleccionada" class="img-rounded img-responsive" />
            </div>
            <div class="col-xs-9 col-md-9 section-box">
              <h3>
                  <a tooltip="Abrir obra en una pestaña nueva" tooltip-placement="top" ng-href="{{ slug | mountRecord }}" target="_blank"><p ng-bind="title | htmlLimit: 200"></p></a>
              </h3>
              <h4 style="color:#B43C2C" ng-show="authors" ng-bind="authors | htmlLimit: 200"></h4>
              <p class="text-muted" ng-show="reproduction" ng-bind-html="reproduction | htmlLimit: 200"></p>
              <div class="row">
                <div class="col-md-12">
                  <span class="label label-danger" ng-show="language">{{language}}</span>
                  <span class="label label-danger" ng-show="mediaType">{{mediaType}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
       
       
        <div class="well" ng-show="showAuthorPanel">

         <div class="bs-callout bs-callout-danger">
          <h4>Selecciona un autor del catálogo</h4>
          Comienza a escribir el nombre del autor sobre el que vas a crear el grupo. Te mostraremos los resultados de nuestro catálogo.
         </div>

         <div class="form-group input-panel">
          <div class="row">
            <input type="text" ng-model="authorName" 
                   placeholder="Escribe el nombre del autor" 
                   typeahead-on-select="setAuthorValues($item)" 
                   typeahead="author.authorName for author in getAuthor($viewValue)" 
                   typeahead-loading="loadingAuthors" 
                   typeahead-no-results="noResults" class="form-control" required>
            <i ng-show="loadingAuthors" class="glyphicon glyphicon-refresh"></i>
            <div class="alert alert-warning" style="margin-top:5px;" ng-show="noResults">
                <strong>Aviso:</strong> No se han encontrado resultados. Introduce un nombre de autor de nuestro catálogo por favor.
            </div>
            <p ng-show="form.groupForm.authorName.$invalid && !form.groupForm.authorName.$pristine" class="help-block">Introduzca un autor.</p>
          </div>
         </div>
        </div>

        <div class="well" ng-show="showBookListPanel">

         <div class="bs-callout bs-callout-danger">
          <h4>Selecciona una lista de obras</h4>
          Selecciona la lista de obras sobre la que vas a crear el grupo. Te mostraremos las listas que has creado hasta el momento.
         </div>

         <div class="form-group input-panel">
          <div class="row">
            <select class="form-control" style="width:30%;" ng-model="booklistId" ng-change="selectBookListAction()" required>
              <option value="">---Por favor selecciona una lista---</option>
              <option ng-repeat="booklist in booklists" value="{{booklist._id}}">{{booklist.title}}</option>
            </select>
          </div>
         </div>
         
         <div class="row">
             <div class="col-md-4">
             <carousel interval="myInterval" no-wrap="noWrapSlides" ng-if="booklist.books">
                <slide ng-repeat="slide in booklist.books" active="slide.active" index="slide.id">
                  <img ng-src="{{slide.uuid | mountCover }}" style="margin:auto;">
                  <div class="carousel-caption">
                    <p>{{slide.title | htmlLimit: 150}}</p>
                  </div>
                </slide>
             </carousel>
                 <div class="alert alert-warning" ng-show="booklist && booklist.books.length === 0">
                  <strong>Aviso:</strong> Esta lista no contiene ninguna obra.
                 </div>
             </div>
             <div class="col-md-8">
                 <h3>{{ booklist.title | htmlLimit: 150}}</h3>
                 <h5 ng-show="booklist.description">Descripción</h5>
                 <p ng-show="booklist.description"><small><em class="text-muted">{{booklist.description}}</em></small></p>
                 <div>
                     <ul class="list-inline">
                        <li ng-repeat="tag in booklist.tags track by $id(tag)"><span class="label label-info"><span class="glyphicon glyphicon-tag"></span> {{tag.name}}</span></li>
                    </ul>
                 </div>
             </div>
         </div>
            
        </div>
        
        <div class="well" ng-show="showThemePanel">
         <div class="bs-callout bs-callout-danger">
          <h4>Escribe el tema del grupo</h4>
          Comienza a escribir y te ayudaremos con el vocabulario de nuestro catálogo.
         </div>

         <div class="form-group input-panel">
          <div class="row">
            <input type="text" ng-model="themeName" placeholder="Escribe el tema del grupo" typeahead-on-select="setThemeValues($item)" typeahead="theme.themeName for theme in getSubject($viewValue)" typeahead-loading="loadingThemes" typeahead-no-results="noResults" class="form-control" required>
            <i ng-show="loadingThemes" class="glyphicon glyphicon-refresh"></i>
            <div class="alert alert-warning" style="margin-top:5px;" ng-show="noResults">
                <strong>Aviso:</strong> No se han encontrado resultados. Introduce un tema de nuestro catálogo por favor.
            </div>
            <p ng-show="form.groupForm.themeName.$invalid && !form.groupForm.themeName.$pristine" class="help-block">Introduzca un tem.</p>
          </div>
         </div>
            
        </div>
        
        
        

    <form name="groupForm" class="form-horizontal" ng-submit="create(groupForm.$valid)">
      <fieldset>
       <div class="well" ng-show="showDescriptionPanel">
           
         <div class="bs-callout bs-callout-danger">
          <h4>Escribe el nombre del grupo</h4>
          Utiliza el siguiente campo para introducir el nombre del grupo que deseas crear. 
         </div>

        <div class="form-group input-panel">
          <input name="name" type="text" ng-model="name" id="name" class="form-control" placeholder="Nombre para el grupo" required>
          <div ng-messages="groupForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre del grupo es necesario.</p>
          </div>
        </div>
       </div> 


       <div class="well" ng-show="showDescriptionPanel">
           
         <div class="bs-callout bs-callout-danger">
          <h4>Escribe la descripción del grupo</h4>
          Utiliza el siguiente formulario para escribir la descripción del grupo. Tienes la opción de incluir enlaces a páginas externas. 
         </div>

        <div class="form-group input-panel">
          <textarea ui-tinymce name="content" ng-model="content" id="content" class="form-control" cols="30" rows="20" placeholder="Escribe tu grupo..."></textarea>
        </div>

        <div class="form-group input-panel text-right">
          <input type="submit" value="Crear" class="btn btn-danger">
          <input type="button" value="Cancelar" class="btn btn-danger" ng-click="showList();">
        </div>
       </div> 
      </fieldset>
    </form>

    </div><!--/col-md-12-->
  
</section>
