<section ng-controller="GroupsController" ng-init="find()" class="container">

 <div class="row">
      <ol class="breadcrumb">
          <li><a href="#" ui-sref="groups.list()">Mis grupos</a></li>
      </ol>
 </div>

 <div class="row">
      <div class="menu col-xs-12">
          <a href="#" ui-sref="groups.create" class="btn col-sm-6 col-xs-6 col-md-6">
             <i class="glyphicon glyphicon-plus"></i><br>
             Grupo
          </a>
          <!--<a href="#" class="btn btn-info col-sm-3">
             <i class="glyphicon glyphicon-cloud"></i><br>
             Cloud
          </a>
          <a href="#" class="btn btn-info col-sm-3">
             <i class="glyphicon glyphicon-cog"></i><br>
             Tools
          </a>-->
          <a href="#" class="btn col-sm-6 col-xs-6 col-md-6" ng-click="showHelpInformation();">
             <i class="glyphicon glyphicon-question-sign"></i><br>
             Ayuda
          </a>
      </div>
 </div>
 <div class="row">  
      <div class="list-group col-xs-12">
      <a ng-repeat="group in groups" ui-sref="groups.view({groupId: group._id})" class="list-group-item">
        <div class="media">
        <div class="media-left">
          <img style="width: 80px;height: 120px;" ng-src="http://media.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(group.uuid)}}/portada/Cover.jpg" alt="{{group.title}}" class="media-object">
        </div>
        <div class="media-body">
          <h5 class="media-heading">{{ group.title | limitTo: 200 }}{{group.title.length > 200 ? '...' : ''}}</h5>
          <p class="text-muted" ng-show="group.reproduction" ng-bind-html="group.reproduction | htmlLimit"></p>
          <!--<p class="text-muted">
            <span ng-show="group.language" class="glyphicon glyphicon-tag"></span> {{group.language}}
          </p>-->
          <p class="text-muted">
            <span class="label label-info" ng-show="group.status === 'public'"><i class="glyphicon glyphicon-eye-open"></i> Publicado</span> 
            <span class="label label-info" ng-show="group.status !== 'public'"><i class="glyphicon glyphicon-eye-close"></i> Borrador</span>
            <span class="label label-info"><i class="glyphicon glyphicon-comment"></i> {{group.comments.length}} {{group.comments.length == 1 ? 'Comentario' : 'Comentarios'}}</span>
            <span class="label label-info"><i class="glyphicon glyphicon-thumbs-up"></i> {{group.ratings.length}} {{group.ratings.length == 1 ? 'Valoración' : 'Valoraciones'}}</span>
            <span class="label label-info" ng-show="group.mediaType" ng-switch on="group.mediaType">
                <span ng-switch-when="audio">
                    <i class="glyphicon glyphicon-headphones"></i> {{group.mediaType}}
                </span>
                <span ng-switch-when="video">
                    <i class="glyphicon glyphicon-film"></i> {{group.mediaType}}
                </span>
                <span ng-switch-when="texto">
                    <i class="glyphicon glyphicon-book"></i> {{group.mediaType}}
                </span>
                <span ng-switch-default>
                    {{group.mediaType}}
                </span>
            </span>
          </p>
          <!--<p class="text-muted" ng-show="group.content" ng-bind-html="group.content | htmlLimit"></p>-->
        </div>
        </div> <!-- media -->
      </a> 
      </div> <!-- repeat -->
 </div>

      <div class="alert alert-warning text-center" ng-if="groups.$resolved && !groups.length">
        No ha creado ningún grupo todavía, ¿<a ui-sref="groups.create">desea crear uno</a>?
      </div>

</section>
<footer-generic></footer-generic>
