<div class="modal-header">
    <h3 class="modal-title pull-left">Ayuda para grupos</h3>
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
</div>

<div class="modal-body">
    <div class="well">
      IBVMC permite crear tus propios grupos a partir del catálogo de la <a href="http://www.cervantesvirtual.com">Biblioteca Virtual Miguel de Cervantes</a>. 
    </div>
    <div class="well well-sm">
        <legend style="font-weight: bold;font-size: 15px;" class="text-center">Información sobre el estado de los miembros de un grupo</legend>
        <p><span class="label label-default">invitado</span> El administrador ha invitado al usuario.</p>
        <p><span class="label label-success">activo</span> El usuario se encuentra activo.</p>
        <p><span class="label label-danger">bloquedao</span> El administrador ha bloqueado al usuario.</p>
        <p><span class="label label-warning">pendiente</span> El usuario ha solicitado incorporarse al grupo. El administrador debe activarlo.</p>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cerrar</button>
</div>

