<section ng-controller="GroupsController" ng-init="findStatusPublic()" ng-show="groups">

<div class="row">
    <h4 class="section-title">Consulta los últimos grupos</h4>
</div>
    
<div class="row">
  <div class="col-md-4" ng-repeat="group in groups">
    <div ui-sref="groups.view({groupId: group._id})" flip ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive" ng-if="groups" ng-src="{{group.uuid | mountCover }}"/>
      </div>
      <div class="caption">
        <h4>{{ group.name | htmlLimit: 200 }}</h4>
        <p style="font-style: italic">por {{ group.user.displayName }}</p>
        <p><a href="#" ui-sref="groups.view({groupId: group._id})" class="label label-danger" tooltip="Consultar el grupo" tooltip-placement="bottom">Ver</a>
        <a href="#" ui-sref="groups.view({groupId: group._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="bottom">Comentar</a></p>
      </div>
    </div>
  </div> <!-- col-md-4 -->
</div>    

<div class="row">
  <div class="col-md-2 col-md-offset-10"><a tooltip="Ver más grupos" tooltip-placement="top" href="#" ui-sref="groups.search"><h4 style="color:#B43C2C">Ver más grupos</h4></a> </div>
</div>
<hr>
</section>