
<div class="modal-header">
    <h3 class="modal-title pull-left">Enviar lista de obras por correo</h3>
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
</div>

<form ng-submit="submit(form.emailForm)" name="form.emailForm" class="form-horizontal" role="form">
    <div class="modal-body">
        <!--<div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
            </div>
        </div> -->
        <div class="form-group" ng-class="{ 'has-error': form.emailForm.inputSubject.$invalid && submitted }">
            <label for="inputSubject" class="col-lg-2 control-label">Asunto</label>
            <div class="col-lg-10">
                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Asunto..." required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.emailForm.inputMessage.$invalid && submitted }">
            <label for="inputMessage" class="col-lg-2 control-label">Mensaje</label>
            <div class="col-lg-10">
                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Mensaje..." required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</form>

