    <section ng-controller="BooklistPaginationController" ng-init="init('public')">
  <div class="page-header">
    <div class="container">
      <div class="col-md-4">
        <h1>Listas de obras</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Filtrar resultados..." ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  
    <div class="container">
    
    <div class="row" ng-controller="BooklistsController">
        <ul class="profileNav-list">
            <li class="profileNav-item pull-left">
                <span class="profileNav-label">Total listas</span>
                <span class="profileNav-value" data-is-compact="false">{{total}}</span>
            </li>
            <li class="profileNav-item pull-right">
                <a tooltip="Crear lista" tooltip-placement="top" href="#" ui-sref="booklists.create" class="btn btn-danger"><i class="fa fa-plus"></i> Crear lista</a> 
            </li>
            <li class="profileNav-item pull-right">
                <a tooltip="Mis listas" tooltip-placement="top" href="#" ui-sref="booklists.list" class="btn btn-danger"><i class="fa fa-th-list"></i> Mis listas</a> 
            </li>
            <li class="profileNav-item pull-right">
                <span class="dropdown" dropdown>
                <a tooltip="Más acciones de usuario" tooltip-placement="top" href="" class="dropdown-toggle" dropdown-toggle>
                    <i style="padding: 3px; margin-right: 10px; color: #d9534f" class="fa fa-cog fa-2x"></i>
                </a>
                <ul class="dropdown-menu" dropdown-menu>
                    <li>
                        <a ng-click="showHelpInformation();" ><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>        
        
    <div class="row">
      <div class="list-group col-xs-12">
        <a ng-repeat="booklist in pagedItems" ui-sref="booklists.view({booklistId: booklist._id})" class="list-group-item">
          <h4 class="list-group-item-heading" ng-bind="booklist.title"></h4>

          <small class="list-group-item-text">
            Creada en
            <span ng-bind="booklist.created | date:'dd/MM/yyyy'"></span>
             por
            <span ng-bind="booklist.user.displayName"></span>
          </small>
          <div>
          <span class="label label-danger"><i class="glyphicon glyphicon-comment"></i> {{booklist.comments.length}} {{booklist.comments.length == 1 ? 'Comentario' : 'Comentarios'}}</span>
          <span class="label label-danger"><i class="glyphicon glyphicon-thumbs-up"></i> {{booklist.ratings.length}} {{booklist.ratings.length == 1 ? 'Valoración' : 'Valoraciones'}}</span>
          </div> 
          <span class="label label-pill label-danger pull-right">{{booklist.books.length}} {{booklist.books.length == 1 ? 'Obra' : 'Obras'}}</span>

          <ul class="list-inline">
            <li ng-repeat="tag in booklist.tags"><span class="label label-danger"><i class="glyphicon glyphicon-tag"></i> {{tag.name}}</span></li>
          </ul>
        </a>
      </div>
    </div>
        
    <pagination ng-show="pagedItems.length > 0" total-items="total" ng-model="currentPage" ng-change="pageChanged()" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="Último" boundary-links="true" max-size="8" items-per-page="itemsPerPage"></pagination>
    </div> 

</section>
