<section class="container-home" ng-controller="HomeController">

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6">
       <h2>La forma más fácil y rápida de crear tu propia biblioteca</h2>
       <p class="welcome-heading-second">Nuestro catálogo a tu disposición para gestionar tus necesidades</p>
       <a class="btn btn-lg btn-header-transparent" href="#" ui-sref="home" role="button">Saber más</a>
       <a class="btn btn-lg btn-header" ui-sref="authentication.signup" role="button">Regístrate</a>
    </div>
  </div>
</div>

<div class="container">
    <div class="bs-callout bs-callout-danger">
          <h4>PROTECCIÓN DE DATOS</h4>
        </div>
        <p>De conformidad con lo establecido en el Art. 5 de la Ley Orgánica 15/1999 de diciembre de Protección de Datos de Carácter Personal,
            por el que se regula el derecho de información en la recogida de datos, le informamos de los siguientes extremos:</p>

        <p>-Los datos de carácter personal que nos ha suministrado en esta y otras comunicaciones mantenidas con usted serán objeto de tratamiento
            en los ficheros responsabilidad de la Fundación Biblioteca Virtual Miguel de Cervantes.</p>

        <p>-La finalidad del tratamiento es la de gestionar de forma adecuada la prestación del servicio que nos ha requerido. 
            Asimismo, estos datos no serán cedidos a terceros, salvo las cesiones legalmente permitidas.</p>

        <p>-Los datos solicitados a través de esta y otras comunicaciones son de suministro obligatorio para la prestación del servicio. 
            Estos son adecuados, pertinentes y no excesivos.</p>

        <p>-Su negativa a suministrar los datos solicitados implica la imposibilidad prestarle el servicio.</p>

        <p>-Asimismo, le informamos de la posibilidad de ejercitar los correspondiente derechos de acceso, rectificación, cancelación y oposición de conformidad con lo establecido en la Ley 15/1999 ante la Fundación Biblioteca Virtual Miguel de Cervantes 
            como responsables del fichero. Los derechos mencionados los puede ejercitar a través de los siguientes medios: 
            Correo electrónico: galatea@cervantesvirtual.com. Dirección postal: Fundación Biblioteca Virtual Miguel de Cervantes. Plaza de Manuel Gómez Moreno, 2. Edificio Alfredo Mahou (anexo), 3.ª planta. 28020 MADRID. Teléfono: 965909427.</p>
        
        <div class="bs-callout bs-callout-danger">
          <h4>CONDICIONES DE USO</h4>
        </div>
        <p>
            Galatea es un espacio para el diálogo, el enriquecimiento mutuo, el intercambio de recursos y las discusiones constructivas, siempre y cuando no se vulnere el derecho de propiedad intelectual y no se viertan opiniones ofensivas e insultantes.
        </p>
        <p>
            De producirse estos malos comportamientos, nuestros revisores de contenidos actuarán borrando las intervenciones que consideren indignas de publicación en Galatea y podrán bloquear a aquellos usuarios que, dada la gravedad de su agravio o la reiteración de sus descalificaciones, se consideren ajenos a la buena voluntad de nuestros propósitos.
        </p>
        <p>
            Los creadores de grupos, por su parte, serán los primeros encargados de velar por el buen uso de Galatea. Quedan facultados por tanto para eliminar comentarios improcedentes e incluso para vetar a aquellos usuarios que no guarden las normas de respeto adecuadas.
        </p>
</div> 

</section>
