<section class="container-home" ng-controller="HomeController">

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6">
       <h2>La forma más fácil y rápida de crear tu propia biblioteca</h2>
       <p class="welcome-heading-second">Nuestro catálogo a tu disposición para gestionar tus necesidades</p>
       <a class="btn btn-lg btn-header-transparent" href="#" ui-sref="home" role="button">Saber más</a>
       <a class="btn btn-lg btn-header" ui-sref="authentication.signup" role="button">Regístrate</a>
    </div>
  </div>
</div>

<div class="container">
    <div class="bs-callout bs-callout-danger">
        <h4>Política de cookies</h4>
    </div>
    <p>
        Una cookie es un pequeño fichero de texto que se almacena en su navegador cuando visita casi cualquier página web. 
        Su utilidad es que la web sea capaz de recordar su visita cuando vuelva a navegar por esa página. Las cookies suelen almacenar 
        información de carácter técnico, preferencias personales, personalización de contenidos, estadísticas de uso, enlaces a redes sociales,
        acceso a cuentas de usuario, etc. El objetivo de la cookie es adaptar el contenido de la web a su perfil y necesidades, 
        sin cookies los servicios ofrecidos por cualquier página se verían mermados notablemente.</p>

    <br>
    <div class="bs-callout bs-callout-danger">
      <h4>Cookies utilizadas en este sitio web</h4>
    </div>
    <p>
        Siguiendo las directrices de la Agencia Española de Protección de Datos procedemos a detallar el uso de cookies que hace esta web con el fin de informarle con la máxima exactitud posible.
    </p> 
    <p>
        Este sitio web utiliza las siguientes cookies propias:
        <ul>
            <li>
                Cookies de sesión, para garantizar que los usuarios que escriban comentarios en el blog sean humanos y no aplicaciones automatizadas. De esta forma se combate el spam.
            </li>
        </ul>
    </p>
    <p>
        Este sitio web utiliza las siguientes cookies de terceros:
        <ul>
            <li>Google Analytics: Almacena cookies para poder elaborar estadísticas sobre el tráfico y volumen de visitas de esta web. Al utilizar este sitio web está consintiendo el tratamiento de información acerca de usted por Google. Por tanto, el ejercicio de cualquier derecho en este sentido deberá hacerlo comunicando directamente con Google.</li>
            <li>Redes sociales: Cada red social utiliza sus propias cookies para que usted pueda pinchar en botones del tipo Me gusta o Compartir.</li>    
        </ul>
    </p>
    <p>
        De producirse estos malos comportamientos, nuestros revisores de contenidos actuarán borrando las intervenciones que consideren indignas de publicación en Galatea y podrán bloquear a aquellos usuarios que, dada la gravedad de su agravio o la reiteración de sus descalificaciones, se consideren ajenos a la buena voluntad de nuestros propósitos.
    </p>
    <p>
        Los creadores de grupos, por su parte, serán los primeros encargados de velar por el buen uso de Galatea. Quedan facultados por tanto para eliminar comentarios improcedentes e incluso para vetar a aquellos usuarios que no guarden las normas de respeto adecuadas.
    </p>
    
    <br>
    <div class="bs-callout bs-callout-danger">
      <h4>Desactivación o eliminación de cookies</h4>
    </div>
    <p>
        En cualquier momento podrá ejercer su derecho de desactivación o eliminación de cookies de este sitio web. Estas acciones se realizan de forma diferente en función del navegador que esté usando.
    </p>
    
    <br>
    <div class="bs-callout bs-callout-danger">
      <h4>Notas adicionales</h4>
    </div>
    <p>
    <ul>
        <li>Ni esta web ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad de las políticas de privacidad que puedan tener los terceros mencionados en esta política de cookies.</li>
        <li>Los navegadores web son las herramientas encargadas de almacenar las cookies y desde este lugar debe efectuar su derecho a eliminación o desactivación de las mismas. Ni esta web ni sus representantes legales pueden garantizar la correcta o incorrecta manipulación de las cookies por parte de los mencionados navegadores.</li>
        <li>En algunos casos es necesario instalar cookies para que el navegador no olvide su decisión de no aceptación de las mismas.</li>
        <li>
            En el caso de las cookies de Google Analytics, esta empresa almacena las cookies en servidores ubicados en Estados Unidos y se compromete a no compartirla con terceros, excepto en los casos en los que sea necesario para el funcionamiento del sistema o cuando la ley obligue a tal efecto. 
            Según Google no guarda su dirección IP. Google Inc. es una compañía adherida al Acuerdo de Puerto Seguro que garantiza que todos los datos transferidos serán tratados con un nivel de protección acorde a la normativa europea.
        </li>
        <li>Para cualquier duda o consulta acerca de esta política de cookies no dude en comunicarse con nosotros a través de la sección de contacto.</li>
    </ul>
    </p>    
    
</div> 

</section>
