<section class="container-home" ng-controller="HomeController">

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6">
       <h2>La forma más fácil y rápida de crear tu propia biblioteca</h2>
       <p class="welcome-heading-second">Nuestro catálogo a tu disposición para gestionar tus necesidades</p>
       <a class="btn btn-lg btn-header-transparent" href="#" ui-sref="home" role="button">Saber más</a>
       <a class="btn btn-lg btn-header" ui-sref="authentication.signup" role="button">Regístrate</a>
    </div>
  </div>
</div>

<div class="container">
    <div class="bs-callout bs-callout-danger">
      <h4>PREGUNTAS FRENCUENTES</h4>
    </div>
    <p> 
        ¿Por qué no puedo subir mis publicaciones?
    </p>
    <p>
        La subida de publicaciones a Galatea es un servicio exclusivo para los usuarios registrados en los <a target="_blank" href="http://amigos.cervantesvirtual.com">Amigos de la Cervantes</a>.
        Si desea entrar con la cuenta de los Amigos de la Cervantes, debe hacer login haciendo click en el <a href="authentication/signin">icono de amigos</a>. 
        La aplicación le solicitará el usuario y contraseña de los Amigos de la Cervantes.
    </p>
    <p>    
        En el caso de que ya tenga un usuario en Galatea, y desee enlazar su cuenta de Amigos de la Cervantes, desde el perfil de usuario, en <a href="settings/accounts">configuración</a>, podrá añadir la cuenta. 
        Una vez añadida podrá crear sus publicaciones.
    </p>
    
    <p> 
        ¿Cómo puedo dar de baja mi cuenta de Galatea?
    </p>
    <p>
        Para dar de baja la cuenta es necesario enviar un correo electrónico a galatea@cervantesvirtual.com. Una vez enviado, recibirá los pasos para dar de baja la cuenta.
    </p>
</div> 

</section>
