<section class="container" ng-controller="HomeController">

    <h1>Preguntas frecuentes</h1>
    <br>
    <div class="bs-callout bs-callout-danger">
      <h4>¿Por qué no puedo subir mis publicaciones?</h4>
    </div>
    <p>
        La subida de publicaciones a Galatea es un servicio exclusivo para los usuarios registrados en los <a target="_blank" href="http://amigos.cervantesvirtual.com">Amigos de la Cervantes</a>.
        Si desea entrar con la cuenta de los Amigos de la Cervantes, debe hacer login haciendo click en el <a href="authentication/signin">icono de amigos</a>. 
        La aplicación le solicitará el usuario y contraseña de los Amigos de la Cervantes.
    </p>
    <p>    
        En el caso de que ya tenga un usuario en Galatea, y desee enlazar su cuenta de Amigos de la Cervantes, desde el perfil de usuario, en <a href="settings/accounts">configuración</a>, podrá añadir la cuenta. 
        Una vez añadida podrá crear sus publicaciones.
    </p>
    
    <br>
    <div class="bs-callout bs-callout-danger">
      <h4>Dispongo de una cuenta personal en Galatea pero tengo problemas para entrar con mi cuenta de <a class="link-amigos" target="_blank" href="http://amigos.cervantesvirtual.com">Amigos de la Cervantes</a></h4>
    </div>
    <p>
        Si ya dispones de una cuenta en Galatea y eres Amigo de la Cervantes con la misma cuenta de correo electrónico, es necesario relacionar ambas cuentas. El proceso a seguir es el siguiente:
    </p>
    <ul>
        <li>
            En primer lugar entras con tu usuario de Galatea y accedes al apartado de <a target="_blank" href="settings/accounts">configuración del usuario</a>.
            <div style="margin:15px;"><img width="400px" src="/modules/core/client/img/faq/settings-account.png"/></div>
        </li>
        <li>A continuación, pinchas en el icono de los Amigos de la Cervantes y tras introducir tu usuario y contraseña, las dos cuentas quedarán conectadas.</li>
    </ul>

    <br>
    <div class="bs-callout bs-callout-danger">
      <h4>¿Cómo puedo dar de baja mi cuenta de Galatea?</h4>
    </div>
    <p>
        Para dar de baja la cuenta es necesario enviar un correo electrónico a galatea@cervantesvirtual.com. Una vez enviado, recibirá los pasos para dar de baja la cuenta.
    </p>
    
</section>
