<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" ng-controller="HeaderController">
        <div class="container">
            <div class="navbar-collapse collapse" collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#" ui-sref="home">Inicio</a></li>
                    <li><a href="#" ui-sref="condiciones">Condiciones de uso</a></li>
                    <li><a href="http://fundacion.cervantesvirtual.com" target="_blank">Sobre nosotros</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right visible-sm visible-md visible-lg">
                    <li><a tooltip="Ir a Facebook" tooltip-placement="top" href="http://www.facebook.com/pages/Biblioteca-Virtual-Miguel-de-Cervantes/115005045196224?v=wall" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Twitter" tooltip-placement="top" href="http://twitter.com/fbvmc" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Youtube" tooltip-placement="top" href="http://www.youtube.com/cervantesvirtual" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Linkedin" tooltip-placement="top"  href="https://www.linkedin.com/grps?home=&gid=6737063" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Flickr" tooltip-placement="top" href="https://www.flickr.com/photos/fbvmc/" target="_blank"><i class="fa fa-flickr fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="toggleCollapsibleMenu()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="list-inline visible-xs footer-icons">
                    <li><a tooltip="Ir a Facebook" tooltip-placement="top" href="http://www.facebook.com/pages/Biblioteca-Virtual-Miguel-de-Cervantes/115005045196224?v=wall" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Twitter" tooltip-placement="top" href="http://twitter.com/fbvmc" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Youtube" tooltip-placement="top" href="http://www.youtube.com/cervantesvirtual" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Linkedin" tooltip-placement="top"  href="https://www.linkedin.com/grps?home=&gid=6737063" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a tooltip="Ir a Flickr" tooltip-placement="top" href="https://www.flickr.com/photos/fbvmc/" target="_blank"><i class="fa fa-flickr fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
