<section class="container-home" ng-controller="HomeController">

<div id="masthead" class="welcome-heading">
    <div class="container">
        <div class="col-md-6">
            <p>La forma más fácil y rápida de crear tu propia biblioteca</p>
            <p class="welcome-heading-second">Nuestro catálogo a tu disposición para gestionar tus necesidades</p>
            
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <a href="#sections" class="btn btn-rounded btn-header-transparent">
                    Saber más ...
                    </a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a href="/authentication/signup" class="btn btn-rounded btn-header">
                    Regístrate
                    </a>
                </div>
            </div> <!-- row buttons -->
        </div>
    </div>    <!-- /container -->
</div>

<div class="container">
    <div ng-include src="'modules/core/client/views/row-news.view.html'"></div>

    <div ng-include src="'modules/reviews/client/views/slider-reviews.client.view.html'"></div>

    <div ng-include src="'modules/booklists/client/views/footerGeneric.template.html'"></div>
</div> <!-- container -->



</section>
