<section class="container-home" ng-controller="HomeController" ng-init="init()">

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img width="123px" height="123px" src="/modules/core/client/img/brand/galatea_icono.png">
            </div>
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-9">
                <h2>La forma más fácil y rápida de compartir tus contenidos preferidos de la BVMC</h2>
            </div>
        </div>
        <div class="row">
         <!--<p class="welcome-heading-second">Nuestro catálogo a tu disposición para gestionar tus necesidades</p>-->
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
             <a class="btn btn-lg btn-header-transparent" href="#sections" role="button">Saber más</a>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
             <a class="btn btn-lg btn-header" ui-sref="authentication.signup" role="button">Regístrate</a>
         </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
    <div ng-include src="'modules/core/client/views/home.options.client.view.html'"></div>
</div>

<div class="home-reviews">    
<div class="container">
    <div class="row home-title">
        <span>Consulta las últimas reseñas</span><hr>
    </div>
    <div ng-include src="'modules/reviews/client/views/slider-reviews.client.view.html'"></div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a tooltip="Ver más reseñas" tooltip-placement="top" href="#" ui-sref="reviews.search">
                <h4 class="home-more-link">Ver más...</h4>
            </a>
        </div>
    </div>
</div>
</div>
    <!--<div class="row">
        <div class="col-sm-6 col-xs-12" ng-include src="'modules/groups/client/views/slider-groups.client.view.html'"></div>
        <div class="col-sm-6 col-xs-12" ng-include src="'modules/booklists/client/views/slider-booklists.client.view.html'"></div>
    </div>-->
<div class="container">    
    <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="row home-title">
              <span>Últimos comentarios</span><hr>
          </div>
          <div ng-repeat="comment in commentsReview">
            <section class="widget">
                <div class="widget-controls">
                    <!--<a href="#"><i class="fa fa-refresh"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>-->
                </div>
                <div class="widget-body">
                    <div class="widget-top-overflow windget-padding-md clearfix bg-grey text-grey">
                        <a href="#" ui-sref="reviews.view({reviewId: comment._id.reviewId})">
                            <h3 class="mt-lg mb-lg"><span class="fw-semi-bold">Reseña</span> - {{ comment._id.title | htmlLimit: 100 }}</h3>
                        </a>
                        <ul class="tags text-grey pull-right">
                            <li><a href="#" ui-sref="reviews.view({reviewId: comment._id.reviewId})">detalles</a></li>
                        </ul>
                    </div>
                    <div class="post-user mt-n-lg">
                        <span class="thumb-lg pull-left mr">
                            <img ng-src="{{comment.user_info[0].profileImageURL}}" alt="{{comment.user_info[0].displayName}}" class="img-circle">
                        </span>
                        <h5 class="mt-sm fw-normal text-grey">{{comment.user_info[0].displayName}} <small class="text-grey text-light"><i class="fa fa-calendar"></i> &nbsp;<span ng-bind="comment._id.comment.created | date:'dd/MM/yyyy'"></span></small></h5>
                    </div>
                    <p class="text-light fs-mini m" ng-bind="comment._id.comment.content | htmlLimit:150"></p>
                </div>
            </section>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="row home-title">
              <span>¿Qué te parece nuestra web?</span><hr>
            </div>    
            <!--<iframe src="https://docs.google.com/forms/d/11DdM674mB90l2OwUQOcae4irqtxY3ZUs9-AAowZ5ZJw/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>-->

            <script type="text/javascript">var submitted=false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe"
            style="display:none;" onload="if(submitted)
            {window.location='/';}"></iframe>
            <form action="https://docs.google.com/forms/d/11DdM674mB90l2OwUQOcae4irqtxY3ZUs9-AAowZ5ZJw/formResponse?embedded=true" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
                <ol role="list" class="ss-question-list" style="padding-left: 20px;">
                <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="auto" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_1627530598"><div class="ss-q-title"><h4>¿Cómo es de intuitiva nuestra web?</h4>
                <label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
                <!--<span class="ss-required-asterisk" aria-hidden="true">*</span></div>-->
                <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

                <ul class="ss-choices" role="radiogroup" aria-label="¿Cómo es de intuitiva nuestra web? ">
                    <li class="ss-choice-item" style="list-style-type: none;">
                        <label>
                            <span class="ss-choice-item-control goog-inline-block">
                                <input type="radio" name="entry.2013137892" value="No me entero de nada" id="group_2013137892_1" role="radio" class="ss-q-radio funkyradio-primary" aria-label="No me entero de nada" required="" aria-required="true">
                            </span>
                           <span class="ss-choice-label">No me entero de nada</span>
                         </label></li> <li class="ss-choice-item" style="list-style-type: none;"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2013137892" value="Necesita muchas mejoras" id="group_2013137892_2" role="radio" class="ss-q-radio" aria-label="Necesita muchas mejoras" required="" aria-required="true"></span>
                <span class="ss-choice-label">Necesita muchas mejoras</span>
                </label></li> <li class="ss-choice-item" style="list-style-type: none;"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2013137892" value="Necesita algunos cambios básicos" id="group_2013137892_3" role="radio" class="ss-q-radio" aria-label="Necesita algunos cambios básicos" required="" aria-required="true"></span>
                <span class="ss-choice-label">Necesita algunos cambios básicos</span>
                </label></li> <li class="ss-choice-item" style="list-style-type: none;"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2013137892" value="Me encanta. No cambiaría nada" id="group_2013137892_4" role="radio" class="ss-q-radio" aria-label="Me encanta. No cambiaría nada" required="" aria-required="true"></span>
                <span class="ss-choice-label">Me encanta. No cambiaría nada</span>
                </label></li></ul>
                <div class="error-message" id="1627530598_errorMessage"></div>
                <!--<div class="required-message">Esta pregunta es obligatoria.</div>--></div></div></div>
                <input type="hidden" name="draftResponse" value="[,,&quot;304498001650001603&quot;]
                ">
                <input type="hidden" name="pageHistory" value="0">



                <input type="hidden" name="fbzx" value="304498001650001603">

                <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                <input type="submit" name="submit" value="Enviar" id="ss-submit" class="jfk-button jfk-button-action btn btn-default">
                </td>
                </tr></tbody></table></div></ol>
            </form>
        </div>
    </div>
</div>

<div class="container">
     <div class="row">
         <div class="col-sm-12 col-xs-12">
             <div class="row home-title">
               <span>Nuestros proyectos</span><hr>
             </div>
             <div class="col-sm-4 col-xs-12" style="padding: 18px;text-align: center;">
                 <a style="text-decoration:none" target="_blank" href="http://www.digitisation.eu">
                     <img src="http://blog.cervantesvirtual.com/wp-content/uploads/2013/03/logoCoCblue.jpg">
                 </a>
             </div>
             <div class="col-sm-4 col-xs-12" style="padding: 30px;text-align: center;">
                 <a style="text-decoration:none" target="_blank" href="http://www.cervantesvirtual.com">
                     <img src="http://blog.cervantesvirtual.com/wp-content/uploads/2013/03/BVMC.png">
                 </a>
             </div>
             <div class="col-sm-4 col-xs-12" style="text-align: center;">
                 <a style="text-decoration:none" target="_blank" href="http://www.catedravargasllosa.com">
                     <img src="http://blog.cervantesvirtual.com/wp-content/uploads/2013/03/CVLL.jpg">
                 </a>
             </div>
         </div>
     </div>
</div>


</section>
