<section class="container-home" ng-controller="HomeController">

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6">
       <h2>La forma más fácil y rápida de crear tu propia biblioteca</h2>
       <p class="welcome-heading-second">Nuestro catálogo a tu disposición para gestionar tus necesidades</p>
       <a class="btn btn-lg btn-header-transparent" href="#sections" role="button">Saber más</a>
       <a class="btn btn-lg btn-header" ui-sref="authentication.signup" role="button">Regístrate</a>
    </div>
  </div>
</div>

<div class="container">
    <div ng-include src="'modules/core/client/views/row-news.view.html'"></div>

    <div ng-include src="'modules/reviews/client/views/slider-reviews.client.view.html'"></div>

</div> <!-- container -->

<div ng-include src="'modules/booklists/client/views/footerGeneric.template.html'"></div>

</section>
