<a name="sections"></a>
<div class="row">
    <h3 class="section-title">¿Qué puedo hacer en Galatea?</h3>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="glyphicon glyphicon-list-alt"></i></div>
                <div class="info">
                    <h3 class="title">Crea tus listas</h3>
                    <p>Agrupa según tus intereses las obras de nuestro catálogo y haz públicas tus listas para que otros miembros de la comunidad las puedan aprovechar.</p>
                    <div class="more">
                        <a href="/booklists">
                            ¡Empieza! <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div> 
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="box">                            
            <div class="icon">
                <div class="image"><i class="glyphicon glyphicon-pencil"></i></div>
                <div class="info">
                    <h3 class="title">Comenta obras</h3>
                    <p>Escribe reseñas de obras de nuestro catálogo y compártelas para que otros miembros de la comunidad puedan conversar contigo sobre ellas.</p>
                    <div class="more">
                        <a href="/reviews">
                            ¡Empieza! <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div> 
    </div>
            
    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="box">                            
            <div class="icon">
                <div class="image"><i class="fa fa-users"></i></div>
                <div class="info">
                    <h3 class="title">Forma grupos</h3>
                    <p>Plantea grupos de interés sobre autores, obras y temas de nuestro catálogo e invita a otros miembros de la comunidad a incorporarse a ellos.</p>
                    <div class="more">
                        <a href="/groups">
                            ¡Empieza! <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div> 
    </div>            
</div>
