<section ng-controller="ReviewsController" ng-init="findOne()" class="container" ng-show="authentication.user._id === review.user._id">

      <ol class="breadcrumb">
          <li><a href="#" ui-sref="reviews.list">Mis reseñas</a></li>
          <li class="active">{{ review.title | htmlLimit: 100 }}</li>
      </ol>

      <div class="alert alert-warning" ng-show="error">
       <button href="#" type="button" class="close" ng-click="error = ''"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
       <strong>Aviso:</strong> {{error}}
      </div>

    <form name="reviewForm" class="form-horizontal" ng-submit="update(reviewForm.$valid)">

      <fieldset>
        <div class="well" style="margin-right: 0px;margin-left: 0px;">
         <div class="bs-callout bs-callout-danger">
          <h4>Modifica la reseña</h4>
          Utiliza el siguiente formulario para modificar la reseña. Tienes la opción de incluir enlaces a páginas externas. 
         </div>

         <div class="form-group input-panel">
          <textarea ui-tinymce="tinymceOptions" name="content" ng-model="review.content" id="content" class="form-control" cols="30" rows="20" placeholder="Escribe tu reseña..."></textarea>
         </div>

         <div class="form-group input-panel" style="text-align:right">
          <input type="submit" value="Guardar" class="btn btn-danger">
          <input type="button" value="Cancelar" class="btn btn-danger" ng-click="showList();">
         </div>
        </div> <!-- well -->
      </fieldset>
    </form>


    <div class="row well" style="margin-right: 0px;margin-left: 0px;" ng-if="review.slug && review.uuid">
        <div class="col-xs-3 col-md-3">
            <img ng-src="{{review.uuid | mountCover }}" alt="Obra seleccionada" class="img-rounded img-responsive" />
        </div>
        <div class="col-xs-9 col-md-9">
            <h3>
                <a tooltip="Abrir obra en una pestaña nueva" tooltip-placement="top" ng-href="{{ review.slug | mountRecord }}" target="_blank"><p ng-bind="review.title | htmlLimit: 200"></p></a>
            </h3>
            <h4 style="color:#B43C2C" ng-show="review.authors" ng-bind="review.authors | htmlLimit: 200"></h4>
            <p class="text-muted" ng-show="review.reproduction" ng-bind-html="review.reproduction | htmlLimit: 200"></p>
            <div class="row">
                <div class="col-md-12">
                  <span class="label label-danger" ng-show="review.status === 'public'"><i class="glyphicon glyphicon-eye-open"></i> Publicado</span> 
                  <span class="label label-danger" ng-show="review.status !== 'public'"><i class="glyphicon glyphicon-eye-close"></i> Borrador</span>
                  <span class="label label-danger"><i class="glyphicon glyphicon-comment"></i> {{review.comments.length}} Comentarios</span>
                  <span class="label label-danger" ng-show="review.language"><i class="glyphicon glyphicon-tag"></i> {{review.language}}</span>
                  <span class="label label-danger" ng-show="review.mediatype"><i class="glyphicon glyphicon-tag"></i> {{review.mediatype}}</span>
                </div>
            </div>
        </div>
    </div>

</section>
