<section ng-controller="ReviewsController" ng-init="findByUuid()" class="container">

 <div class="row">
    <ol class="breadcrumb">
        <li class="active">Reseñas sobre <strong>{{ title | limitTo: 100 }}{{title.length > 100 ? '...' : ''}}</strong></li>
    </ol>
 </div>

 <div class="row">
      <div class="menu col-xs-12">
          <a href="#" ui-sref="reviews.create" class="btn col-sm-4 col-xs-4 col-md-4">
             <i class="glyphicon glyphicon-plus"></i><br>
             Reseña
          </a>
          <a href="#" ui-sref="reviews.list" class="btn col-sm-4 col-xs-4 col-md-4">
             <i class="glyphicon glyphicon-zoom-in"></i><br>
             Mis reseñas
          </a>
          <!--<a href="#" class="btn btn-info col-sm-3">
             <i class="glyphicon glyphicon-cog"></i><br>
             Tools
          </a>-->
          <a href="#" class="btn col-sm-4 col-xs-4 col-md-4" ng-click="showHelpInformation();">
             <i class="glyphicon glyphicon-question-sign"></i><br>
             Ayuda
          </a>
      </div>
 </div>
 <div class="row">
     
    <h1 class="title">Listado de reseñas sobre la obra: {{ title | htmlLimit: 200 }}</h1>
    <p class="text-muted" ng-show="reproduction" ng-bind-html="reproduction | htmlLimit: 200"></p>
    
    <div class="col-xs-9">
    <div class="list-group">
      <a ng-repeat="review in reviews" ui-sref="reviews.view({reviewId: review._id})" class="list-group-item">
        <div class="media">
        <div class="media-left">
          <img style="width: 80px;height: 120px;" ng-src="http://media.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(review.uuid)}}/portada/Cover.jpg" alt="{{review.title}}" class="media-object">
        </div>
        <div class="media-body">
          <h5 class="media-heading">Reseñado por {{ review.user.displayName | htmlLimit: 200 }}</h5>
          
          <p class="text-muted">
            <span class="label label-info" ng-show="review.status === 'public'"><i class="glyphicon glyphicon-eye-open"></i> Publicado</span> 
            <span class="label label-info" ng-show="review.status !== 'public'"><i class="glyphicon glyphicon-eye-close"></i> Borrador</span>
            <span class="label label-info"><i class="glyphicon glyphicon-comment"></i> {{review.comments.length}} {{review.comments.length == 1 ? 'Comentario' : 'Comentarios'}}</span>
            <span class="label label-info"><i class="glyphicon glyphicon-thumbs-up"></i> {{review.ratings.length}} {{review.ratings.length == 1 ? 'Valoración' : 'Valoraciones'}}</span>
            <span class="label label-info" ng-show="review.mediaType" ng-switch on="review.mediaType">
                <span ng-switch-when="audio">
                    <i class="glyphicon glyphicon-headphones"></i> {{review.mediaType}}
                </span>
                <span ng-switch-when="video">
                    <i class="glyphicon glyphicon-film"></i> {{review.mediaType}}
                </span>
                <span ng-switch-when="texto">
                    <i class="glyphicon glyphicon-book"></i> {{review.mediaType}}
                </span>
                <span ng-switch-default>
                    {{review.mediaType}}
                </span>
            </span>
          </p>
          <p class="text-muted" ng-show="review.content" ng-bind-html="review.content | htmlLimit: 200"></p>
        </div>
        </div> <!-- media -->
      </a> 
      </div> <!-- list-group -->
    
      <div class="alert alert-warning text-center" ng-show="!reviews.length">
        No existe ninguna reseña sobre esta obra, ¿<a ui-sref="reviews.create">desea crear una</a>?
      </div>
    
    </div> <!-- col-xs-9 -->
    
    <div class="well well-sm col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2 text-center">
        <a ng-href="http://www.cervantesvirtual.com/obra/{{slug}}" target="_blank">
             <img ng-if="uuid" ng-src="http://media.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(uuid)}}/portada/Cover.jpg" tooltip="Ver obra en catálogo" tooltip-placement="top" class="img-rounded img-responsive" />
        </a><br>
        <a class="btn btn-danger btn-sm full-width" ng-href="http://www.cervantesvirtual.com/obra/{{slug}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Ver obra en catálogo</a>
    </div>
    
 </div>



</section>
<footer-generic></footer-generic>
