<section ng-controller="ReviewsController" ng-init="find()">

  <div class="page-header">
    <div class="container">
        <h1><i class="fa fa-pencil-square-o"></i> Mis reseñas</h1>
        <h2></h2>
    </div>
  </div>    
    
  <div class="container">

    <div class="row">
        <ul class="profileNav-list">
            <li class="profileNav-item pull-left">
                <span class="profileNav-label">Grupos</span>
                <span class="profileNav-value" data-is-compact="false">{{reviews.length}}</span>
            </li>
            <li class="profileNav-item">
                <span class="profileNav-label">Seguidor de</span>
                <span class="profileNav-value" data-is-compact="false">{{reviews.length}}</span>
            </li>
            <li class="profileNav-item">
                <span class="profileNav-label">Comentarios</span>
                <span class="profileNav-value" data-is-compact="false">{{reviews.length}}</span>
            </li>
            <li class="profileNav-item pull-right">
                <a tooltip="Crear reseña" tooltip-placement="top" href="#" ui-sref="reviews.create" class="btn btn-danger"><i class="fa fa-plus"></i> Crear reseña</a> 
            </li>
            <li class="profileNav-item pull-right">
                <span class="dropdown" dropdown>
                <a tooltip="Más acciones de usuario" tooltip-placement="top" href="" class="dropdown-toggle" dropdown-toggle>
                    <i style="padding: 3px; margin-right: 10px; color: #d9534f" class="fa fa-cog fa-2x"></i>
                </a>
                <ul class="dropdown-menu" dropdown-menu>
                    <li>
                        <a ng-click="showHelpInformation();" ><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
 
    <div class="row">  
      <div class="list-group col-xs-12">
      <a ng-repeat="review in reviews" ui-sref="reviews.view({reviewId: review._id})" class="list-group-item">
        <div class="media">
        <div class="media-left">
          <img style="width: 80px;height: 120px;" ng-src="{{review.uuid | mountCover }}" alt="{{review.title}}" class="media-object">
        </div>
        <div class="media-body">
          <h5 class="media-heading">{{ review.title | htmlLimit: 200 }}</h5>
          <p class="text-muted" ng-show="review.reproduction" ng-bind-html="review.reproduction | htmlLimit"></p>
          <p class="text-muted">
            <span class="label label-danger" ng-show="review.status === 'public'"><i class="glyphicon glyphicon-eye-open"></i> Publicado</span> 
            <span class="label label-danger" ng-show="review.status !== 'public'"><i class="glyphicon glyphicon-eye-close"></i> Borrador</span>
            <span class="label label-danger"><i class="glyphicon glyphicon-comment"></i> {{review.comments.length}} {{review.comments.length == 1 ? 'Comentario' : 'Comentarios'}}</span>
            <span class="label label-danger"><i class="glyphicon glyphicon-thumbs-up"></i> {{review.ratings.length}} {{review.ratings.length == 1 ? 'Valoración' : 'Valoraciones'}}</span>
            <span class="label label-danger" ng-show="review.mediaType" ng-switch on="review.mediaType">
                <span ng-switch-when="audio">
                    <i class="glyphicon glyphicon-headphones"></i> {{review.mediaType}}
                </span>
                <span ng-switch-when="video">
                    <i class="glyphicon glyphicon-film"></i> {{review.mediaType}}
                </span>
                <span ng-switch-when="texto">
                    <i class="glyphicon glyphicon-book"></i> {{review.mediaType}}
                </span>
                <span ng-switch-default>
                    {{review.mediaType}}
                </span>
            </span>
          </p>
        </div>
        </div> <!-- media -->
      </a> 
      </div> <!-- repeat -->
    </div>

    <div class="alert alert-warning text-center" ng-if="reviews.$resolved && !reviews.length">
        No ha creado ninguna reseña todavía, ¿<a ui-sref="reviews.create">desea crear una</a>?
    </div>

</div>
</section>
