<section ng-controller="ReviewsController" ng-init="findByUuid()">

    <div class="page-header">
        <div class="container">
            <h1><i class="fa fa-pencil-square-o"></i> Reseñas</h1>
            <h4>{{ title | htmlLimit: 300 }}</h4>
        </div>
    </div>    
    
    <div class="container">        
    
        <div class="row">
            <div class="col-xs-12">
                <div class="list-group">
                    <a ng-repeat="review in reviews" ui-sref="reviews.view({reviewId: review._id})" class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img ng-if="review.uuid" style="width: 80px;height: 120px;" ng-src="{{review.uuid | mountCover }}" alt="{{review.title}}" class="media-object">
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">{{ review.title | htmlLimit: 200 }}</h5>
                                <p class="text-muted" ng-show="review.reproduction" ng-bind-html="review.reproduction | htmlLimit: 100"></p>
                                <p class="text-muted">
                                  <span><i class="glyphicon glyphicon-user"></i> {{review.user.displayName}} |</span> 
                                  <span ng-show="review.status === 'public'"><i class="glyphicon glyphicon-eye-open"></i> Publicado |</span> 
                                  <span ng-show="review.status !== 'public'"><i class="glyphicon glyphicon-eye-close"></i> Borrador |</span>
                                  <span><i class="glyphicon glyphicon-comment"></i> {{review.comments.length}} {{review.comments.length == 1 ? 'Comentario' : 'Comentarios'}} |</span>
                                  <span><i class="glyphicon glyphicon-thumbs-up"></i> {{review.ratings.length}} {{review.ratings.length == 1 ? 'Valoración' : 'Valoraciones'}} |</span>
                                  <span ng-show="review.mediaType" ng-switch on="review.mediaType">
                                      <span ng-switch-when="audio">
                                          <i class="glyphicon glyphicon-headphones"></i> {{review.mediaType}} |
                                      </span>
                                      <span ng-switch-when="video">
                                          <i class="glyphicon glyphicon-film"></i> {{review.mediaType}} |
                                      </span>
                                      <span ng-switch-when="texto">
                                          <i class="glyphicon glyphicon-book"></i> {{review.mediaType}} |
                                      </span>
                                      <span ng-switch-default>
                                          {{review.mediaType}} |
                                      </span>
                                  </span>
                                  <span><i class="fa fa-calendar"></i> {{review.created | date:'dd/MM/yyyy'}}</span>
                                </p>
                            </div>
                        </div> <!-- media -->
                    </a> 
                </div> <!-- list-group -->
    
                <div class="alert alert-warning text-center" ng-if="reviews" ng-show="!reviews.length">
                    No existe ninguna reseña sobre esta obra, ¿<a ui-sref="reviews.create">desea crear una</a>?
                </div>
    
            </div> <!-- col-xs-12 -->
    
            <!--<div class="well well-sm col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2 text-center">
                <a ng-href="{{slug | mountRecord }}" target="_blank">
                    <img ng-if="uuid" ng-src="{{uuid | mountCover }}" tooltip="Ver obra en catálogo" tooltip-placement="top" class="img-rounded img-responsive" />
                </a><br>
                <a class="btn btn-danger btn-sm full-width" ng-href="{{slug | mountRecord }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Ver obra en catálogo</a>
            </div>-->
    
        </div>
    </div>

</section>
