<div class="modal-header">
    <h3 class="modal-title pull-left">Ayuda para reseñas de obras</h3>
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
</div>

<div class="modal-body">
    <div class="well">
      IBVMC permite crear tus propias reseñas de obras a partir del catálogo de la <a href="http://www.cervantesvirtual.com">Biblioteca Virtual Miguel de Cervantes</a>. 
      
      Una vez publicada la reseña, los usuarios pueden valorarla y añadir comentarios.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cerrar</button>
</div>

