<section ng-controller="ReviewsController" ng-init="findStatusPublic()" ng-show="reviews">

<div class="row">
    <h4 class="section-title">Consulta las últimas reseñas</h4>
</div>

<div class="row vertical-align" >
  <div class="col-md-4">
    <div ng-click="openReview(reviews[0]._id)" flip class="row col-md-12" ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive review-cover" src="http://www.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(reviews[0].uuid)}}/portada/Cover.jpg"/>
      </div>
      <div class="caption">
        <h4>{{ reviews[0].title | limitTo: 200 }}{{ reviews[0].title.length > 200 ? '...' : '' }}</h4>
        <p style="font-style: italic">por {{ reviews[0].user.displayName }}</p>
        <p><a href="#" ui-sref="reviews.view({reviewId: reviews[0]._id})" class="label label-danger" tooltip="Leer la reseña" tooltip-placement="top">Leer</a>
        <a href="#" ui-sref="reviews.view({reviewId: reviews[0]._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="top">Comentar</a></p>
      </div>
    </div>

  </div> <!-- col-md-4 -->

  <div class="col-md-2">
    <div ng-click="openReview(reviews[1]._id)" flip class="row col-md-12" ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive review-cover" src="http://www.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(reviews[1].uuid)}}/portada/Cover.jpg"/>
      </div>
      <div class="caption">
        <h5>{{ reviews[1].title | limitTo: 30 }}{{ reviews[1].title.length > 30 ? '...' : '' }}</h5>
        <p style="font-style: italic">por {{ reviews[1].user.displayName | limitTo: 30 }}{{reviews[1].user.displayName > 30 ? '...' : '' }}</p>
        <p><a href="#" ui-sref="reviews.view({reviewId: reviews[1]._id})" class="label label-danger" tooltip="Leer la reseña" tooltip-placement="top">Leer</a>
        <a href="#" ui-sref="reviews.view({reviewId: reviews[1]._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="top">Comentar</a></p>
      </div>
    </div>
    <div ng-click="openReview(reviews[2]._id)" flip class="row col-md-12" ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive review-cover" src="http://www.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(reviews[2].uuid)}}/portada/Cover.jpg"/>
      </div>
      <div class="caption">
        <h5>{{ reviews[2].title | limitTo: 30 }}{{ reviews[2].title.length > 30 ? '...' : '' }}</h5>
        <p style="font-style: italic">por {{ reviews[2].user.displayName | limitTo: 30 }}{{reviews[2].user.displayName > 30 ? '...' : '' }}</p>
        <p><a href="#" ui-sref="reviews.view({reviewId: reviews[2]._id})" class="label label-danger" tooltip="Leer la reseña" tooltip-placement="top">Leer</a>
        <a href="#" ui-sref="reviews.view({reviewId: reviews[2]._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="top">Comentar</a></p>
      </div>
    </div>
  </div> 

  <div class="col-md-4">

    <div ng-click="openReview(reviews[3]._id)" flip class="row col-md-12" ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive review-cover" src="http://www.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(reviews[3].uuid)}}/portada/Cover.jpg"/>
      </div>
      <div class="caption">
        <h4>{{ reviews[3].title | limitTo: 200 }}{{reviews[3].title.length > 200 ? '...' : '' }}</h4>
        <pstyle="font-style: italic">por {{reviews[3].user.displayName }}</p>
        <p><a href="#" ui-sref="reviews.view({reviewId: reviews[3]._id})" class="label label-danger" tooltip="Leer la reseña" tooltip-placement="top">Leer</a>
        <a href="#" ui-sref="reviews.view({reviewId: reviews[3]._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="top">Comentar</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-2">
   <div ng-click="openReview(reviews[4]._id)" flip class="row col-md-12" ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive review-cover" src="http://www.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(reviews[4].uuid)}}/portada/Cover.jpg"/>
      </div>
      <div class="caption">
        <h5>{{ reviews[4].title | limitTo: 30 }}{{reviews[4].title.length > 30 ? '...' : '' }}</h5>
        <p style="font-style: italic">por {{ reviews[4].user.displayName | limitTo: 30 }}{{reviews[4].user.displayName > 30 ? '...' : '' }}</p>
        <p><a href="#" ui-sref="reviews.view({reviewId: reviews[4]._id})" class="label label-danger" tooltip="Leer la reseña" tooltip-placement="top">Leer</a>
        <a href="#" ui-sref="reviews.view({reviewId: reviews[4]._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="top">Comentar</a></p>
      </div>
   </div>
   <div ng-click="openReview(reviews[5]._id)" flip class="row col-md-12" ng-mouseover="showBackPanel()" ng-mouseleave="showFrontPanel()">
      <div>
        <img width="100%" class="img-responsive review-cover" src="http://www.cervantesvirtual.com/s3/BVMC_OBRAS/{{uuidFilter(reviews[5].uuid)}}/portada/Cover.jpg"/>
      </div>
      <div class="caption">
        <h5>{{ reviews[5].title | limitTo: 30 }}{{reviews[5].title.length > 30 ? '...' : '' }}</h5>
        <p style="font-style: italic">por {{ reviews[5].user.displayName | limitTo: 30 }}{{reviews[5].user.displayName > 30 ? '...' : '' }}</p>
        <p><a href="#" ui-sref="reviews.view({reviewId: reviews[5]._id})" class="label label-danger" tooltip="Leer la reseña" tooltip-placement="top">Leer</a>
        <a href="#" ui-sref="reviews.view({reviewId: reviews[5]._id})" class="label label-warning" tooltip="Añadir comentario" tooltip-placement="top">Comentar</a></p>
      </div>
    </div>
  </div>

</div> <!-- row -->
<hr>
