<section ng-controller="ReviewsController" ng-init="findOne();" >

  <div class="page-header">
    <div class="container">
        <h1><i class="fa fa-pencil-square-o"></i> Reseña</h1>
    </div>
  </div>    
    
    <div class="container">    
        <div class="row">
             <div class="col-md-12 col-xs-12">
                 <ul class="profileNav-list">
                     <li class="profileNav-item pull-left">
                         <span class="profileNav-label">Comentarios</span>
                         <span class="profileNav-value" data-is-compact="false">{{review.comments.length}}</span>
                     </li>
                     <li class="profileNav-item">
                         <span class="profileNav-label">Valoraciones</span>
                         <span class="profileNav-value" data-is-compact="false">{{review.ratings.length}}</span>
                     </li>
                     <li class="profileNav-item">
                         <span class="profileNav-label">Publicado</span>
                         <span class="profileNav-value" data-is-compact="false">{{review.status === 'public' ? 'Si' : 'No' }}</span>
                     </li>
                     <li class="profileNav-item pull-right" ng-if="authentication.user._id === review.user._id">
                        <a tooltip="Editar reseña" tooltip-placement="top" href="#" ui-sref="reviews.edit({reviewId: review._id})" class="btn btn-danger"><i class="fa fa-pencil"></i> Editar</a> 
                     </li>
                     <li class="profileNav-item pull-right" ng-show="review.status === 'draft'">
                        <a tooltip="Publicar reseña" tooltip-placement="top" href="#" ng-click="setPublicStatus()" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i> Publicar</a> 
                     </li>
                     <li class="profileNav-item pull-right" >
                        <span class="dropdown" dropdown>
                            <a tooltip="Más acciones de usuario" tooltip-placement="top" href="" class="dropdown-toggle" dropdown-toggle>
                                <i style="padding: 3px; margin-right: 10px; color: #d9534f" class="fa fa-cog fa-2x"></i>
                            </a>
                            <ul class="dropdown-menu" dropdown-menu>
                              <li>
                                <a ng-click="showHelpInformation();" ><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a>
                              </li>
                              <li ng-if="authentication.user._id === review.user._id"> 
                                <a ui-sref="reviews.edit({reviewId: review._id})"><i class="glyphicon glyphicon-edit"></i> Editar reseña</a>
                              </li>
                              <li ng-if="authentication.user._id === review.user._id">
                                <a ng-show="review.status === 'draft'" ng-click="setPublicStatus()"><i class="glyphicon glyphicon-eye-open"></i> Publicar reseña</a>
                              </li>
                              <li ng-if="authentication.user._id === review.user._id">
                                <a ng-show="review.status !== 'draft'" ng-click="setDraftStatus()"><i class="glyphicon glyphicon-eye-close"></i> Deshacer publicación</a>
                              </li>
                              <li ng-if="authentication.user._id === review.user._id">
                                <a ng-click="remove()" confirm="¿Estas seguro que deseas borrar la reseña?"><i class="glyphicon glyphicon-trash"></i> Eliminar reseña</a>
                              </li>
                              <li ng-if="authentication.user._id === review.user._id" class="divider"></li>
                              <li ng-if="authentication.user._id === review.user._id">
                                <a ng-click="createGroupFromReview()"><i class="glyphicon glyphicon-plus"></i> Crear grupo de esta reseña</a>
                              </li>
                            </ul>
                        </span>
                     </li>
                 </ul>
             </div>
         </div> 

      <div class="alert alert-success col-xs-12" ng-show="messageok">
       <button href="#" type="button" class="close" ng-click="messageok = ''"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
       <strong>Resultado:</strong> {{messageok}}
      </div>

      <div class="alert alert-warning row" ng-show="review.status === 'draft' && warningopen">
        <div class="col-xs-10"><strong>Aviso:</strong> La reseña no se ha publicado todavía. Si desea publicarla, cambie su estado desde el menú superior.</div>
        <div class="col-xs-2"><button ng-click="setPublicStatus()" href="#" class="btn btn-xs btn-warning pull-right" >Publicar</button></div>
      </div>
        
      <div class="alert alert-warning" ng-show="error">
       <button ng-click="error = ''" href="#" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-error"></i></button>
       <strong>Aviso:</strong> {{error}}
      </div>

     <hr>
     <div class="row">
       <div class="col-md-9">
         <h1 class="title">{{ review.title | htmlLimit: 200 }}</h1>
         <h4 style="color:#B43C2C" ng-show="review.authors" ng-bind="review.authors | htmlLimit: 200"></h4>
         <p class="text-muted" ng-show="review.reproduction" ng-bind-html="review.reproduction | htmlLimit"></p>
         <h3 style="font-style:italic">Por <span ng-bind="review.user.displayName"></span> el <span ng-bind="review.created | date:'dd/MM/yyyy'"></span></h3>

         <div class="row">
             <div class="col-md-12 col-xs-12 social-links" ng-show="review.status === 'public'">
                 <a tooltip="Compartir en facebook" tooltip-placement="top" href="#" ng-href="https://www.facebook.com/sharer/sharer.php?u={{location}}" target="_blank" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                 <a tooltip="Compartir en twitter" tooltip-placement="top" href="#" ng-href="https://twitter.com/home?status={{location}}" target="_blank" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                 <a ng-if="authentication.user" tooltip="Enviar por correo" tooltip-placement="top" href="#" ng-click="showEmailForm()" class="btn btn-warning"><i class="fa fa-envelope"></i></a> 
                 <a ng-show="authentication.user._id !== review.user._id" tooltip="Valorar la reseña" tooltip-placement="top" ng-click="checkRatingBar()" ng-hide="showRatingBar" class="btn btn-danger">
                   <i class="fa fa-star"></i> Valorar
                 </a>

                 <div style="margin-bottom:10px" class="col-md-12 col-xs-12" ng-show="showRatingBar">
                   <rating ng-model="rate" max="max" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="group.title" titles="['1','2','3','4','5']" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="leavingRate()" ></rating>
                   <span class="label rating" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{overStar}}</span>
                 </div>
             </div>
           </div> <!-- col-md-12 .col-xs-12-->

           <p style="margin-top:30px;" ng-bind-html="review.content | html"></p>
      </div> <!-- row -->
     
      <div class="well well-sm col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2 text-center">
         <a ng-href="{{review.slug | mountRecord }}" target="_blank">
             <img ng-if="review.uuid" ng-src="{{review.uuid | mountCover }}" tooltip="Ver obra en catálogo" tooltip-placement="top" class="img-rounded img-responsive" />
         </a><br>
         <a tooltip="Ver obra en catálogo" tooltip-placement="top" class="btn btn-danger btn-sm full-width" ng-href="{{review.slug | mountRecord }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Ver obra en catálogo</a>
         <a style="margin-top:3px" tooltip="Ver más reseñas de esta obra" tooltip-placement="bottom" ui-sref="reviews.uuid({uuid: review.uuid})" class="btn btn-danger btn-sm full-width">
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Ver más reseñas
         </a>
      </div>
   </div>
   
   <div ng-if="review.comments.length > 0">
      <hr> 
      <h4>Últimos comentarios</h4>	

      <div ng-repeat="comment in review.comments" class="media">
        <div class="media-left">
          <img style="width: 64px;height: 64px;" ng-src="{{comment.user.profileImageURL}}" alt="{{comment.user.displayName}}" class="header-profile-image" />
        </div>
        <div class="media-body">
            <small>
            <em class="text-muted">
            Añadido el
            <span ng-bind="comment.created | date:'dd/MM/yyyy'"></span>
             por
            <span ng-bind="comment.user.displayName"></span>
            </em>
            </small>
            <p ng-bind="comment.content"></p>
        </div>
      </div>
      <hr>
     </div> <!-- last comments -->
     
     <div ng-show="review.status === 'public' && authentication.user">
        <form ng-submit="addComment()" class="form-horizontal" name="form.commentForm"> 
         <div class="form-group">
           <label for="txtcomment" class="col-sm-2 control-label">Escribe tu commentario</label>
           <div class="col-sm-10">
              <textarea class="form-control" ng-model="txtcomment" id="txtcomment" rows="5" required></textarea>
           </div>
         </div>
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">                    
              <button class="btn btn-danger btn-circle" type="submit" id="submitComment"><span class="glyphicon glyphicon-comment"></span> Añadir comentario</button>
           </div>
         </div>            
        </form>
     </div>

</section>
