<section ng-controller="ReviewsController" ng-init="findOne();" >

    <div class="page-header">
        <div class="container">
            <h1><i class="fa fa-pencil-square-o"></i> Reseña</h1>
            <div class="row visible-xs">
                <div class="col-xs-12" style="text-align: center;">
                    <img ng-src="{{review.user.profileImageURL}}" alt="{{review.user.displayName}}" class="header-profile-image" />
                    <span ng-bind="review.user.displayName"></span>
                </div>
                <div class="col-xs-12" style="margin-top:10px;text-align: center;">
                    <i class="fa fa-calendar fa-2x"></i> <span ng-bind="review.created | date:'dd/MM/yyyy'"></span>
                </div>
            </div>
            <div class="row visible-sm visible-md visible-lg">
                <div class="col-xs-12">
                    <img ng-src="{{review.user.profileImageURL}}" alt="{{review.user.displayName}}" class="header-profile-image" />
                    <span ng-bind="review.user.displayName"></span>
                    <i class="fa fa-calendar fa-2x" style="margin-left:5px"></i> <span ng-bind="review.created | date:'dd/MM/yyyy'"></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <ul class="profileNav-list">
                <li class="profileNav-item pull-left">
                    <span class="profileNav-label">Comentarios</span>
                    <span class="profileNav-value" data-is-compact="false">{{review.comments.length}}</span>
                </li>
                <!--<li class="profileNav-item hidden-xs">
                    <span class="profileNav-label">Valoraciones</span>
                    <span class="profileNav-value" data-is-compact="false">{{review.ratings.length}}</span>
                </li>-->
                <li ng-show="authentication.user._id === review.user._id" class="profileNav-item hidden-xs">
                    <span class="profileNav-label">Publicado</span>
                    <span class="profileNav-value" data-is-compact="false">{{review.status === 'public' ? 'Si' : 'No' }}</span>
                </li>
                <li class="profileNav-item pull-right hidden-xs" ng-if="authentication.user._id === review.user._id">
                   <a tooltip="Editar reseña" tooltip-placement="top" href="#" ui-sref="reviews.edit({reviewId: review._id})" class="btn btn-danger"><i class="fa fa-pencil"></i> Editar</a> 
                </li>
                <li class="profileNav-item pull-right hidden-xs" ng-show="review.status === 'draft'">
                   <a tooltip="Publicar reseña" tooltip-placement="top" href="#" ng-click="setPublicStatus()" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i> Publicar</a> 
                </li>
                <li class="profileNav-item pull-right" >
                   <span class="dropdown" dropdown>
                       <a tooltip="Más acciones de usuario" tooltip-placement="left" href="" class="dropdown-toggle" dropdown-toggle>
                           <i style="padding: 3px; margin-right: 10px; color: #d9534f" class="fa fa-cog fa-2x"></i>
                       </a>
                       <ul class="dropdown-menu" dropdown-menu>
                         <li>
                           <a ng-click="showHelpInformation();" ><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a>
                         </li>
                         <li ng-if="authentication.user._id === review.user._id"> 
                           <a ui-sref="reviews.edit({reviewId: review._id})"><i class="glyphicon glyphicon-edit"></i> Editar reseña</a>
                         </li>
                         <li ng-if="authentication.user._id === review.user._id">
                           <a ng-show="review.status === 'draft'" ng-click="setPublicStatus()"><i class="glyphicon glyphicon-eye-open"></i> Publicar reseña</a>
                         </li>
                         <li ng-if="authentication.user._id === review.user._id">
                           <a ng-show="review.status !== 'draft'" ng-click="setDraftStatus()"><i class="glyphicon glyphicon-eye-close"></i> Deshacer publicación</a>
                         </li>
                         <li ng-if="authentication.user._id === review.user._id">
                           <a ng-click="remove()" confirm="¿Estás seguro que deseas borrar la reseña?"><i class="glyphicon glyphicon-trash"></i> Eliminar reseña</a>
                         </li>
                         <li ng-if="authentication.user._id === review.user._id" class="divider"></li>
                         <li ng-if="authentication.user._id === review.user._id">
                           <a ng-click="createGroupFromReview()"><i class="glyphicon glyphicon-plus"></i> Crear grupo de esta reseña</a>
                         </li>
                         <li ng-show="authentication.user._id"> 
                           <a ng-click="showReportForm()"><i class="glyphicon glyphicon-warning-sign"></i> Denunciar spam o abuso</a>
                         </li>
                       </ul>
                   </span>
                </li>
            </ul>
        </div>

        <div class="alert alert-success" ng-show="messageok">
            <button href="#" type="button" class="close" ng-click="messageok = ''"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
            <strong>Resultado:</strong> {{messageok}}
        </div>

        <div class="alert alert-warning" ng-show="review.status === 'draft' && warningopen">
            <button ng-click="warningopen = ''" href="#" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-error"></i></button>
            <strong>Aviso:</strong> La reseña no se ha publicado todavía. Si desea publicarla, cambie su estado desde el menú superior.
        </div>
        
        <div class="alert alert-warning" ng-show="error">
            <button ng-click="error = ''" href="#" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-error"></i></button>
            <strong>Aviso:</strong> {{error}}
        </div>

        <hr>
        
        <div class="hero-widget well well-sm visible-xs">
            <div class="icon">
                <img width="100px" ng-if="review.uuid" ng-src="{{review.uuid | mountCover }}" tooltip="Ver obra en catálogo" tooltip-placement="top" class="border-cover" />
            </div>
            <div class="text">
                  <label class="text-muted">{{ review.title }}</label>
                  <label class="text-muted authors">{{ review.authors }}</label>
            </div>
            <div class="options">
                <ul class="profileNav-list" style="padding: 0px;">    
                    <li class="profileNav-item">
                        <span class="profileNav-label"><a tooltip="Compartir en facebook" tooltip-placement="top" href="#" ng-href="https://www.facebook.com/sharer/sharer.php?u={{location}}" target="_blank"><i style="color:grey;" class="fa fa-facebook fa-2x"></i></a></span>
                    </li>
                    <li class="profileNav-item">
                        <span class="profileNav-label"><a tooltip="Compartir en twitter" tooltip-placement="top" href="#" ng-href="https://twitter.com/home?status={{location}}" target="_blank"><i style="color:grey;" class="fa fa-twitter fa-2x"></i></a></span>
                    </li>
                    <li class="profileNav-item">
                        <span class="profileNav-label"><a ng-if="authentication.user" tooltip="Enviar por correo" tooltip-placement="top" href="#" title="Enviar por correo" title="Enviar por correo" tooltip-placement="top" ng-click="showEmailForm()"><i style="color:grey;" class="fa fa-envelope fa-2x"></i></a></span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row visible-xs">
            <div class="col-xs-12">
                <dl class="dl-horizontal">
                    <dt ng-show="review.reproduction">Reproducción</dt>
                    <dd ng-show="review.reproduction">{{review.reproduction}}</dd>
                </dl>    
                <p ng-bind-html="review.content | html"></p>
            </div>
        </div>
        
        <div class="row hidden-xs">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a ng-href="{{review.slug | mountRecord }}" target="_blank">
                    <img ng-if="review.uuid" ng-src="{{review.uuid | mountCover }}" tooltip="Ver obra en catálogo" tooltip-placement="top" class="border-cover img-responsive" />
                </a>
            </div>  
            <div class="col-sm-9 col-md-9 col-xs-9">
                <ul class="profileNav-list pull-right" style="padding: 0px;">    
                    <li class="profileNav-item">
                        <span class="profileNav-label"><a tooltip="Compartir en facebook" tooltip-placement="top" href="#" ng-href="https://www.facebook.com/sharer/sharer.php?u={{location}}" target="_blank"><i style="color:grey;" class="fa fa-facebook fa-2x"></i></a></span>
                    </li>
                    <li class="profileNav-item">
                        <span class="profileNav-label"><a tooltip="Compartir en twitter" tooltip-placement="top" href="#" ng-href="https://twitter.com/home?status={{location}}" target="_blank"><i style="color:grey;" class="fa fa-twitter fa-2x"></i></a></span>
                    </li>
                    <li class="profileNav-item">
                        <span class="profileNav-label"><a ng-if="authentication.user" tooltip="Enviar por correo" tooltip-placement="top" href="#" title="Enviar por correo" title="Enviar por correo" tooltip-placement="top" ng-click="showEmailForm()"><i style="color:grey;" class="fa fa-envelope fa-2x"></i></a></span>
                    </li>
                </ul>
                <!--<div class="social-links" ng-show="review.status === 'public'">
                    <a tooltip="Compartir en facebook" tooltip-placement="top" href="#" ng-href="https://www.facebook.com/sharer/sharer.php?u={{location}}" target="_blank" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                    <a tooltip="Compartir en twitter" tooltip-placement="top" href="#" ng-href="https://twitter.com/home?status={{location}}" target="_blank" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                    <a ng-if="authentication.user" tooltip="Enviar por correo" tooltip-placement="top" href="#" ng-click="showEmailForm()" class="btn btn-warning"><i class="fa fa-envelope"></i></a> 
                    <a ng-if="authentication.user" ng-show="authentication.user._id !== review.user._id && showRatingButton" tooltip="Valorar la reseña" tooltip-placement="top" ng-click="checkRatingBar()" class="btn btn-danger">
                      <i class="fa fa-star"></i> Valorar
                    </a>

                    <div style="margin-bottom:10px" class="col-md-12 col-xs-12" ng-show="showRatingBar">
                      <rating ng-model="rate" max="max" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="group.title" titles="['1','2','3','4','5']" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="leavingRate()" ></rating>
                      <span class="label rating" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{overStar}}</span>
                    </div>
                </div>  -->
                <h3 class="title">{{ review.title }}</h3>
                <h4 class="authors" ng-show="review.authors" ng-bind="review.authors | htmlLimit: 200"></h4>
                <p class="text-muted" ng-show="review.reproduction" ng-bind-html="review.reproduction | htmlLimit"></p>
                <p ng-bind-html="review.content | html"></p>
            </div>
        </div>
        <hr>
   
        <div style="margin-top:20px;" ng-if="review.comments.length > 0">
            <h4>Actividad reciente</h4>	

            <div ng-repeat="comment in review.comments" class="media">
                <div class="media-left">
                  <img style="width: 64px;height: 64px;" ng-src="{{comment.user.profileImageURL}}" alt="{{comment.user.displayName}}" class="header-profile-image" />
                </div>
                <div class="media-body">
                    <small>
                    <em class="text-muted">
                    Añadido el
                    <span ng-bind="comment.created | date:'dd/MM/yyyy'"></span>
                     por
                    <span ng-bind="comment.user.displayName"></span>
                    </em>
                    <a ng-show="authentication.user._id === review.user._id" href="#" tooltip="Eliminar comentario"
                       confirm="¿Estas seguro que deseas eliminar el comentario?"
                       ng-click="removeComment(comment._id, $index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>    
                    </small>
                    <p ng-bind="comment.content"></p>
                </div>
            </div>
            <hr>
        </div> <!-- last comments -->
     
        <div style="margin-top:20px;" ng-show="review.status === 'public' && authentication.user">
            <form ng-submit="addComment()" class="form-horizontal" name="form.commentForm"> 
                <div class="form-group">
                    <label for="txtcomment" class="col-sm-2 control-label">Escribe tu comentario</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="txtcomment" id="txtcomment" rows="5" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">                    
                        <button class="btn btn-danger btn-circle" type="submit" id="submitComment"><span class="glyphicon glyphicon-comment"></span> Añadir comentario</button>
                    </div>
                </div>            
            </form>
        </div>
</section>
