<div class="panel panel-default" ng-controller="GroupListController" ng-init="init(10)">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de listas de obra</h3>
    </div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <button type="button" style="margin-bottom:10px;" class="btn btn-danger" ng-click="searchIsCollapsed = !searchIsCollapsed">
                    <span class="glyphicon glyphicon-search"></span> Búsqueda avanzada
                </button>
                <div id="filter-panel" class="filter-panel" collapse="searchIsCollapsed">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="filter-col" for="pref-search">Texto:</label>
                                    <input type="text" class="form-control input-sm" id="pref-search" ng-model="text">
                                </div><!-- form group [search] -->
                                <div class="form-group">
                                    <label class="filter-col" for="pref-orderby">Orden:</label>
                                    <select id="pref-orderby" class="form-control" ng-model="order">
                                        <option ng-repeat="x in optionsOrder" value="{{x.value}}">{{x.text}}</option>
                                    </select> 
                                </div> <!-- form group [order by] --> 
                                <div class="form-group">
                                    <label class="filter-col" for="pref-status">Estado:</label>
                                    <select id="pref-status" class="form-control" ng-model="status">
                                        <option ng-repeat="x in optionsStatus" value="{{x.value}}">{{x.text}}</option>
                                    </select> 
                                </div> <!-- form group [status] --> 
                                <div class="form-group">
                                    <label class="filter-col" for="pref-perpage">Elementos página:</label>
                                    <select id="pref-perpage" class="form-control" ng-model="itemsPerPage">
                                        <option ng-repeat="x in optionsItemsPage" value="{{x.value}}">{{x.text}}</option>
                                    </select> 
                                </div> <!-- form group [rows] -->
                                <button ng-click="find()" class="btn btn-danger" style="margin-top: 4px;">
                                    <span class="glyphicon glyphicon-search"></span> Buscar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="list-group">
          <a ng-repeat="group in pagedItems" ui-sref="admin.group({groupId: group._id})" class="list-group-item">
            <div class="media">
                <div class="media-body">
                  <h4 class="list-group-item-heading" ng-bind="group.name | htmlLimit: 100"></h4>
                  
                  <div>
                    <span ng-switch on="group.type">
                        <span ng-switch-when="obra">
                          <i class="glyphicon glyphicon-book"></i> Obra |
                        </span>
                        <span ng-switch-when="lista">
                          <i class="glyphicon glyphicon-th-list"></i> Lista |
                        </span>
                        <span ng-switch-when="autor">
                          <i class="glyphicon glyphicon-pencil"></i> Autor |
                        </span>
                        <span ng-switch-default>
                          <i class="fa fa-comments"></i> Tema |
                        </span>
                    </span>
                    <span ng-show="group.status === 'public'"><i class="glyphicon glyphicon-eye-open"></i> Publicado |</span> 
                    <span ng-show="group.status === 'draft'"><i class="glyphicon glyphicon-eye-close"></i> Borrador |</span>
                    <span ng-show="group.status === 'blocked'"><i class="glyphicon glyphicon-ban-circle"></i> Bloqueado |</span>
                    <span><i class="glyphicon glyphicon-comment"></i> {{group.comments.length}} {{group.comments.length == 1 ? 'Comentario' : 'Comentarios'}} |</span>
                    <span><i class="glyphicon glyphicon-thumbs-up"></i> {{group.ratings.length}} {{group.ratings.length == 1 ? 'Valoración' : 'Valoraciones'}} |</span>
                    <span><i class="glyphicon glyphicon-user"></i> {{group.user.displayName}} |</span>
                    <span><i class="fa fa-calendar"></i> {{group.created | date:'dd/MM/yyyy'}}</span>
                  </div> 
                  
                </div>
            </div> <!-- media -->
          </a> 
        </div>

    </div>
    <div class="panel-footer">
        <pagination ng-show="pagedItems.length > 0" total-items="total" ng-model="currentPage" ng-change="pageChanged()" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="Último" boundary-links="true" max-size="8" items-per-page="itemsPerPage"></pagination>
    </div>    
</div>