.user-list tbody td>img {
    max-width: 50px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

