<section ng-controller="PublicationsController" ng-init="findOne()" class="container" ng-show="authentication.user._id === publication.user._id">

    <ol class="breadcrumb">
        <li><a href="#" ui-sref="publications.list">Mis publicaciones</a></li>
        <li class="active">{{ publication.title | htmlLimit: 100 }}</li>
    </ol>

    <div class="alert alert-warning" ng-show="error">
        <button href="#" type="button" class="close" ng-click="error = ''"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
        <strong>Aviso:</strong> {{error}}
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form name="publicationForm" class="form-horizontal" ng-submit="update(publicationForm.$valid)">

              <fieldset>
                
                <div class="well">

                <div class="bs-callout bs-callout-danger">
                 <h4>Título de la publicación</h4>
                 Introduce un título que identifique tu publicación. Por ejemplo: Obras de teatro español.
                </div>

                <div class="form-group input-panel">
                 <input name="title" type="text" ng-model="publication.title" id="title" class="form-control" placeholder="Título" required>
                 <div ng-messages="publicationForm.title.$error" role="alert">
                   <p class="help-block error-text" ng-message="required">El campo título es obligatorio.</p>
                 </div>
                </div>
               </div>

               <div class="well">

                <div class="bs-callout bs-callout-danger">
                 <h4>¿Deseas etiquetar tu publicación?</h4>
                 Comienza a escribir y te ayudaremos con el vocabulario de nuestro catálogo. O si lo prefieres puedes añadir tus propias etiquetas.
                </div>

                <div class="form-group input-panel">
                 <tags-input key-property="identifierSubject" display-property="name" placeholder="Añade etiquetas" ng-model="publication.tags" on-tag-added="onTagAdded($tag)" on-tag-removed="onTagRemoved($tag)" replace-spaces-with-dashes="false">
                   <auto-complete source="getSubject($query)"></auto-complete>
                 </tags-input>
                </div>
               </div>  
                  
                <div class="well hidden-xs" style="margin-right: 0px;margin-left: 0px;">
                 <div class="bs-callout bs-callout-danger">
                  <h4>Modifica la descripción de la publicación</h4>
                  Utiliza el siguiente formulario para modificar la descripción de la publicación.
                 </div>

                 <div class="form-group input-panel">
                  <input name="content" ng-model="publication.content" id="content" class="form-control" placeholder="Escribe la descripción de la publicación..."></input>
                 </div>
                </div> <!-- well -->

                <div class="form-group input-panel" style="text-align:right">
                  <input type="submit" value="Guardar" class="btn btn-danger">
                  <input type="button" value="Cancelar" class="btn btn-danger" ng-click="showList();">
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</section>
