<section class="row" ng-controller="ChangePasswordController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">Contraseña actual</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword" placeholder="Contraseña actual" required>
          <div ng-messages="passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La contraseña actual es requerida.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">Nueva contraseña</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="Nueva contraseña" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Introduce la nueva contraseña.</p>
            <div ng-repeat="passwordError in passwordErrors">
                <p ng-if="passwordError === 'The password must be at least 10 characters long.'" class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">La contraseña debe contener al menos 10 caracteres.</p>
                <p ng-if="passwordError === 'The password must contain at least one uppercase letter.'" class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">La contraseña debe contener al menos un carácter en mayúscula.</p>
                <p ng-if="passwordError === 'The password must contain at least one number.'" class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">La contraseña debe contener al menos un número.</p>
                <p ng-if="passwordError === 'The password must contain at least one special character.'" class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">La contraseña debe contener al menos un carácter especial.</p>
                <p ng-if="passwordError === 'The password must be fewer than 128 characters.'" class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">La contraseña debe contener menos de 128 caracteres.</p>
                <p ng-if="passwordError === 'The password may not contain sequences of three or more repeated characters.'" class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">La contraseña no debe contener secuencias de 3 o más caracteres repetidos.</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">Verificar contraseña</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verificar contraseña" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Verificar la nueva contraseña.</p>
            <p class="help-block error-text" ng-show="passwordForm.verifyPassword.$error.passwordVerify">Las contraseñas no coinciden.</p>
          </div>
        </div>
        <div class="form-group" ng-show="!passwordForm.newPassword.$error.required">
          <label>Seguridad del password</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-danger">Guardar contraseña</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Contraseña actualizada correctamente</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
