<section class="container-home" ng-controller="DashboardController">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-click="toggleCollapsibleMenu()">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" class="navbar-brand">G<span>alatea Admin</span></a>
        </div>
        <div class="collapse navbar-collapse" collapse="!isCollapsed">
            
            <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
              <li class="dropdown" dropdown>
              <div class="dropdown-caret">
                <span class="caret-outer"></span>
                <span class="caret-inner"></span>
              </div>
                <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                  <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                  <span ng-bind="authentication.user.displayName"></span> <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li ui-sref-active="active">
                    <a ui-sref="settings.profile">Ver perfil</a>
                  </li>
                  <li ui-sref-active="active">
                    <a ui-sref="settings.picture">Cambiar imagen de perfil</a>
                  </li>
                  <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                    <a ui-sref="settings.password">Cambiar contraseña</a>
                  </li>
                  <li class="divider"></li>
                  <li ui-sref-active="active">
                    <a href="/booklists">Mis listas</a>
                  </li>
                  <li ui-sref-active="active">
                    <a href="/reviews">Mis reseñas</a>
                  </li>
                  <li ui-sref-active="active">
                    <a href="/groups">Mis grupos</a>
                  </li>
                  <li class="divider"></li>
                  <li ui-sref-active="active">
                    <a ui-sref="settings.accounts">Configuración</a>
                  </li>
                  <li>
                    <a href="/api/auth/signout" target="_self">Cerrar sesión</a>
                  </li>
                </ul>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
              <li ui-sref-active="active">
                <a class="global-nav" href="/reviews">Mis reseñas</a>
              </li>
              <li ui-sref-active="active">
              <a class="global-nav" href="/booklists">Mis listas</a>
              </li>
              <li ui-sref-active="active">
              <a class="global-nav" href="/groups">Mis grupos</a>
              </li>
            </ul>

            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="#" ui-sref="admin.dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#" ui-sref="admin.comments"><i class="fa fa-fw fa-comments"></i> Comentarios</a>
                </li>
                <li class="active">
                    <a href="#" ui-sref="admin.users"><i class="fa fa-fw fa-users"></i> Usuarios</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar-collapse -->  
            
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header-dashboard">
                        Dashboard <small>Usuarios</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#" ui-sref="admin.dashboard">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-users"></i> Usuarios
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <!--<div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" ng-click="getReviewComments()" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                    </div>
                </div>
            </div> -->
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" ng-bind="totalUsers"></div>
                                    <div>Usuarios</div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="panel-footer">
                            <span class="pull-left">En general</span>
                            <div class="clearfix"></div> 
                        </div>-->
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" ng-bind="newUsers"></div>
                                    <div>Usuarios nuevos</div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="panel-footer">
                            <span class="pull-left">Realizados en reseñas</span>
                            <div class="clearfix"></div>
                        </div> -->
                    </div>
                </div>                
            </div>
            <!-- /.row -->

            <!--<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- /.row -->

            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-9">
                    <div ng-include src="'modules/users/client/views/admin/dashboard.list-users.client.view.html'"></div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div> <!-- wrapper -->         

</section>
