.title-header {
    margin-top: 20px;
    text-align: center;
    height: 40px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.label {
    margin: 2px;
}

.social-links {
    margin: 2px;
    margin-top: 5px;
}

.booklist-description {
    padding: 0px 0px 0px 10px;
    margin-top:20px;
}

.booklist-description h3 {
    margin: 0;
}

.media-heading {
    font-weight: bold;
}

/* tinymce path editor */
.mce-path {
    display: none !important;
}

/*
 hover efects and reviews slider
*/
.review-cover {
    border: 3px solid #d07212;
    margin-bottom: 5px;
}
.caption {
    background: white;
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color: black;
    border: 3px solid #d07212;
    position: absolute;
    top: 0;
    left: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.flip-panel {
  cursor:pointer;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  
  -webkit-transform: perspective(800px) rotateY(0deg);
  -moz-transform: perspective(800px) rotateY(0deg);
}
.flip-hide-back-panel {
  -webkit-transform: perspective(800px) rotateY(180deg);
  -moz-transform: perspective(800px) rotateY(180deg);
}
.flip-hide-front-panel {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  -moz-transform: perspective(800px) rotateY(-180deg);
}

/*
 hover efects
*/

/* begin dropdown */
.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 9px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu li>a {
    clear: both;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: normal;
    float: none;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
    position: relative;
    text-shadow: none;
    white-space: nowrap;
}

.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-menu .selected a {
    color: #fff;
    background: #3b88c3;
    text-decoration: none;
}

.nav li a {
    position: relative;
    font-size: 14px;
}

.nav>li {
    color: #66757f;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 900;
    display: none;
    float: left;
    padding: 10px 0;
    margin: 9px -7px 0 0;
    background: #fff;
    background-color: rgba(255,255,255,0.98);
    border: 1px solid #e1e8ed;
    border: 0 solid rgba(0,0,0,0.25);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    background-clip: padding-box;
}

div.tooltip-inner {
    text-align: center;
    background-color: #505050;
    font-size: 13px;
    padding:5px;
}

/* end dropdown */

.top-icons {
    margin-bottom: 5px;
    margin-left: 5px;
}

.global-nav {
    border-bottom: 5px solid transparent;
    transition: all .15s ease-in-out;
}

.global-nav:hover, .global-nav:active, .global-nav:focus {
    border-bottom: 5px solid #0084b4;
    transition: all .15s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: #337ab7;
}

.input-panel {
    padding: 0px 20px 0px 20px;
}

.section-title {
    font-weight: 400;
    margin-top:40px;
    color: #f7504f;
    line-height: 1.5;
    font-size: 36px;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="search"], input[type="url"], input[type="email"], textarea {
    border: 1px solid #c1c1c1;
    background-color: #ffffff;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 300;
    color: grey;
    width: 100%;
    height: 48px;
    margin: 0;
    text-overflow: ellipsis;
}

/* menus */
.menu {
    background: #47a3da;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.menu a:hover, .menu a:visited, .menu a:focus {
    color: white;
}

.menu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
    text-align: center;
}

.menu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border-radius: 0px;
    background-color: #47a3da;
}

.menu a:visited {
    background: #47a3da;
    color: #fff;
}

.menu a:hover {
    background: #258ecd !important;
}

.menu a:focus {
    background: #258ecd ;
}

.menu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* end menus */

.breadcrumb {
    margin-top: 10px;
}

.navbar-default .navbar-brand {
    font: normal 24px 'Cookie', cursive;
    padding: 10px 15px;
}

.navbar-default .navbar-brand span {
    color: #B43C2C;
}

/* begin rating */
.glyphicon.ng-scope.glyphicon-star {
    font-size: 2em;
    top: 9px;
}
.glyphicon.ng-scope.glyphicon-star-empty {
    font-size: 2em;
    top: 9px;
}
span.rating {
    font-size: 14px;
    margin-left: 15px;
}

/* end rating */

/* begin footer */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #B43C2C;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* end footer */

/* header */
.jumbotron {
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    background: #bfbfbf url(/modules/core/client/img/brand/fondo_bvmc.png) no-repeat left bottom -100px;
    /*background-position: left 300px bottom;*/
    background-repeat: no-repeat;
    /*background: #747679 url(//dhchbx0tszrcx.cloudfront.net/assets/welcome/bg-440f21dde0676577f0276c26a4a8098f.png) no-repeat top center;*7
    /*background: #747679 url(//4.bp.blogspot.com/-2O8kJvlRVrM/UUiJIwKkiYI/AAAAAAAAAuQ/FpvJEUwgz_k/s1600/lecturas_2013.png) no-repeat top center;*/
    /*background: #747679 url(http://bib.cervantesvirtual.com/bib_autor/Cervantes/graf/fotos/008674_0027_s.jpg) no-repeat center center;*/
    background-size: cover!important;
    min-height: 500px;
    padding: 5% 0 0;
}

.jumbotron .welcome-heading-second {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    opacity: .6;
}

.btn-header-transparent {
    text-align: center;
    color: #B43C2C;
    background: 0 0;
    border: 1px solid #B43C2C;
    padding: 18px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn-header-transparent:hover, .btn-header-transparent:focus, .btn-header-transparent:active {
    color: #fff;
    border: 1px solid #B43C2C;
    background-color: #B43C2C;
}

.btn-header {
    background-color: #B43C2C;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #B43C2C;
}

.btn-header:hover, .btn-header:focus{
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.title {
    font-weight: bold !important;
}

.page-header {
    background-color: #2B7BB9;
    color: white;
    height: 175px;
}

/* header */


/* row news */
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #B43C2C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #B43C2C; }
.box .space { height: 30px; }
/* row news */

/* begin callout */

.bs-callout-modal {
    padding: 5px !important;
    margin: 0px 5px 10px 5px !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* end callout */



